/* You can add global styles to this file, and also import other style files */
body {
  font-family: Overpass,sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(255,255,255,.1);
  text-rendering: optimizeLegibility!important;
  background-color: #ebeff2;
  color: #023859;
  line-height: 1.44;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  background-color: #e31415;
  padding: 11px 20px 11px 20px;
  font-family: Overpass,sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  line-height: 1;
  font-size: 16px;
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:disabled {
    background-color: gray;
  }
}

h1 {
  margin-left: 5%;
}

.container {
  margin: 0 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}