<ng-container *ngIf="jokes && jokes.length">
  <ul>
    <li *ngFor="let joke of jokes">
      {{ joke.joke }}

      <button (click)="makeFavorite(joke)" [disabled]="joke.favorite" type="button">Like</button>
    </li>
  </ul>
</ng-container>

<p>Favorite List</p>

<button type="button" (click)="startTimer()" *ngIf="!interval$">Start timer</button>
<button type="button" (click)="stopTimer()" *ngIf="interval$">Stop timer</button>
<ng-container *ngIf="favoriteJokes && favoriteJokes.length; then list; else empty"></ng-container>

<ng-template #empty>
  <p>Empty</p>
</ng-template>

<ng-template #list>
  <p *ngIf="showAlert">{{showAlert}}</p>
  <ul>
    <li *ngFor="let joke of favoriteJokes; let i = index">
      {{ joke.joke }}
      <button (click)="removeFavorite(joke, i)" type="button">
        Dislike
      </button>
    </li>
  </ul>
</ng-template>

<router-outlet></router-outlet>