<div class="container">
  <h1>Jokes</h1>

  <app-joke-list *ngIf="jokes && jokes.length"
                 [jokes]="jokes"
                 (save)="makeFavorite($event)"
                 (remove)="removeFavorite($event)">
  </app-joke-list>

  <h1>Favorites</h1>

  <ng-container *ngIf="favoriteJokes && favoriteJokes.length; then list; else empty"></ng-container>
  <ng-template #empty>
    <p>Empty</p>
  </ng-template>

  <ng-template #list>
    <p *ngIf="showAlert">{{showAlert}}</p>
    <app-joke-list [jokes]="favoriteJokes" (remove)="removeFavorite($event)"></app-joke-list>
  </ng-template>


  <button type="button" (click)="startTimer()" *ngIf="!interval$ || interval$.closed">Start timer</button>
  <button type="button" (click)="stopTimer()" *ngIf="interval$ && !interval$.closed">Stop timer</button>

  <router-outlet></router-outlet>
</div>
